.pwreset__body{
    margin-left: auto;
    margin-right: auto;
}
.password__label{
    margin-left: auto;
    margin-right: auto;
}
.password__input{
    margin-left: auto;
    margin-right: auto;
}
.pwreset__body>button{
    margin-left: auto;
    margin-right: auto;
}