.reset__password{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
}
.reset__background{
    height: 600px;
    padding-top: 100px;
    background-image: url('../home\ page\ bg@1.5x.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;  
}