.ViewEventPage__banner{
    height: 500px;
    width: 100%;
    background-image: url('../event\ page\ bg@1.5x.png') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.ViewEventPage__banner>h1{
    padding-top: 200px;
    padding-left: 200px;
    color: white;
    font-size: 60px;
}
.ViewEventPage__banner>p{
    width: 600px;
    padding-left: 200px;
    color: white;
}
.ViewEventPage__Card{
    display: flex;
    align-items: center;
}
.ViewEventPage__body{
    display: flex;
}