.ViewEventPage__banner{
    height: 500px;
    width: 100%;
    background-image: url('../event\ page\ bg@1.5x.png') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.ViewEventPage__banner>h1{
    padding-top: 200px;
    padding-left: 200px;
    color: white;
    font-size: 60px;
}
.ViewEventPage__banner>p{
    width: 600px;
    padding-left: 200px;
    color: white;
}
.ViewEventPage__Card{    
    display: flex;
    align-items: center;  
}

.View_cont{
box-shadow:0px 8px 10px  #b6b6b6;
}

.ViewEventPage__body{
    display: flex;
    flex-direction: row;    
    padding-right: auto;
    justify-content: center;
}
button{
    margin-top: 10px;
    width:75px;
    border:none;
    height:1cm;
    border-radius:20px;
    margin-right:.5cm;
    left:.4cm;
    font-size: 11px;
    font-weight: 500;
    
}
.ViewEventPage__Buttons>{
    display: flex;
    justify-content: space-evenly;
    }
.donate{
    background-color: rgb(33, 179, 33);
}
@media(max-width:1080px){
    .ViewEventPage__banner{
        height: 500px;
        width: 100%;
        background-image: url('../event\ page\ bg@1.5x.png') ;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .ViewEventPage__banner>h1{
        padding-top: 200px;
        padding-left: 10%;
        color: white;
        font-size: 50px;
    }
    .ViewEventPage__banner>p{
        width: 100%;
        padding-left: 10%;
        color: white;
        font-size: 15px;
    }
    .ViewEventPage__Buttons>{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        }
}
